@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 1000px;
    background: #ffffff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 9px;
}

a:hover {
    background: #73cc91;
}

.sidebar:hover {
    width: 215px;
    transition: all 0.5s ease;
}

.logout {
    position: absolute;
    bottom: 0;
}

.icon {
    top: 50px;
}

/*navbar*/

.container {
    padding: 10px;
    padding-left: 130px;
}

.navbar {
    background-color: #73cc91;
    height: 70px;
    font-size: 20px;
}